{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
    <title>AboutUs</title>

</head>
<body>
    <fieldset>
        <h1>About Us</h1>
        <div class="font">
        <b> Who we are</b>
<br>
            AIAP stands for the Association of Irrigation Acceleration Platform. We area national, non-profit membership association, registered under the Societies Act in Kenya. AIAP is a forum for stakeholder converge in the irrigation (defined to include drainage) sector and its diverse value chain actors. The Association provides a “Platform” for interaction, knowledge sharing, actions and building of synergies to support and upscale irrigation best practices, policy and an enabling environment for profitability and sector growth in Kenya. Irrigation opens up many opportunities to improve food security, incomes and livelihoods, as rainfed agriculture has become unreliable.
<br>
<br>
<b> Whom we serve</b>
<br>
            We are dedicated bridging the technology, policy, information and knowledge gaps across the irrigation sector’s wide range of actors and stakeholders. These include, but not limited to:individual farmers who irrigate or wish to become irrigators, irrigation-relevant organizations such as; farmer groups, water users associations (IWUAs), commodity marketing groups, SACCOs and companies. We also bring together professionals, researchers, officers working in the public and private sectors, consultants, traders and market operators, financial sector actors, technology developers, wholesale and retail outlets, policy makers, development partners, NGOs and international organizations operating in Kenya. Ultimately, we serve all those involved in or interested in the good and growth of irrigation sector in Kenya.
<br>
<br>
           <b> What we do</b>
<br>
            At AIAP, we provide a forum for: <br>(i) networking; knowledge sharing and linking stakeholders in the irrigation sector;<br> (ii) develop and host an interactive knowledge depository and database for informing and advancing irrigation across the full value chain;<br> (iii) advocacy and push for polices, regulatory and institutional frameworks that advance irrigation;<br> (iv) capacity building, generation of knowledge, advisory and consultancy services relevant to the advancement of irrigation; <br>(v) resource mobilization and fund raising activities to support the Platform and for supporting irrigation;<br> (vi) implement projects, programmes and activities that promote and facilitate irrigation;<br> (vi) hold and participate in meetings, workshops, seminars and related activities;<br> viii) do all such other things as are lawful and relevant to advancement of irrigation in Kenya.

            
<br>
<br>
            <b> Welcome, be a Member</b>
<br>
            We welcome well-meaning stakeholders of irrigation and its value chain in Kenya to join AIAP. Details are available at: https://aiap.or.ke/index.php/membership/
        </div>
    </fieldset>
</body>
</html>