{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/available.css'%}">
    <title>availables</title>
</head>
<body>
    <h1>Welcome to our Store!! <b>Make a choice of your favourite.</b></h1>
    <div class="image">
        <img src="{% static 'images/pure.jpg' %}">
    </div>
    <p>To make any order from our Store, you mustbe Logged In first.
        <br> <a href="#">Order </a>
    </p>
</body>
</html>