{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/available.css' %}">
    <title>Document</title>
</head>
<body>

    <h1>Welcome to our Store!! <b>Make a choice of your favourite.</b></h1>
    <table>
        <thead>
            <tr>
                <td><img src="{% static 'images/ricec.jpg' %}"></td>
                <td><img src="{% static 'images/pure.jpg' %}"></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><p>To make an order, click the button below</p></td>
                <td><p>To make an order, click the button below</p></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td><a href="{% url 'product' %}">Order </a></td>
                <td><a href="">Order </a></td>
            </tr>
        </tfoot>
    </table>
    
</body>
</html>